:local .container {
    width: 100%;
    height: 100%;
    padding: 0px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    direction: rtl;
}
:local .todaysTimesContainer {
    font-size: 20px;
}
:local .todaysTimesTitle{
    font-size: 40px;
    font-weight: 500;
    text-decoration: underline;
}
:local .currentDate {
    font-size: 30px;
}

:local .segmentContainer {
    margin: 0px !important;
    flex-grow: 1;
    direction: rtl;
}

:local .messageContainer {
    flex-grow: 1;
}

:local .header {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
}


:local .centerRow {
    height: 65%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

:local .sidePanel {
    flex-grow: 1;
}

:local .centerPanel {
    width: 50%;
    margin: 0 !important;
}
:local .rightSidePanel {
    width: 25%;
}

:local .leftSidePanel {
    width: 25%;
}

:local .footer {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
}